body {
  background-color: cadetblue;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
}

.view {
  width: 100%;
  height: 75%;
  background-color: crimson;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add_widgit {
  position: fixed;
  bottom: 0;
  right: 0;
  border: black solid 1px;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-image: url("icons/icons8-plus-104.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.icon {
  border: black solid 1px;
  border-radius: 5px;
  margin: 10px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-color: blueviolet;
}

.make-choice {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  border: 3px solid #73AD21;
  border-radius: 5px;
  background-color: #73AD21;
}

.select_one_plus_one {
  background-image: url("icons/icons8-mu-64.png");
}

.select_x_plus_one_free {
  background-image: url("icons/icons8-oo-64.png");
}

.select_x_free {
  background-image: url("icons/icons8-b-64.png");
}